# for build
/build
/.cache
/out
/src/out
src/CMakeSettings.json
*.exe
/src/build
/src/cmake-build-*
/cmake-build-*
/build-wsl

# for benchmarks
*.ppm

# for perf data
*.data
*.data.old

# IDE
/.zed
/.idea
/.vscode
/.vs
