---
import Layout from "./Layout.astro";
import Sidebar from "../components/Sidebar.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex">
    <Sidebar />
    <div class="flex-1 ml-64 p-6">
      <div class="max-w-3xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">{title}</h1>
        <div class="prose prose-lg dark:prose-invert max-w-none">
          <slot />
        </div>
      </div>
    </div>
  </div>
</Layout> 