---
import Layout from "../layouts/Layout.astro";

---

<Layout title='Getting Started'>
    <div>
    <h1>Getting Started</h1>
    <p>Here is the documentation for the project.</p>
    </div>
</Layout>

