---
import CopyIcon from "./CopyIcon.astro";
type Props = {
  code: string;
  id: string;
};
const { code, id } = Astro.props;

const codeLines = code.trim().split('\n');
const processedLines = codeLines.map((line, i) => ({
  number: i + 1,
  content: line
}));
---
<div class="bg-gray-900 text-gray-100 p-2 rounded font-mono text-sm overflow-auto mb-4 relative">
    <div class="absolute top-0 right-0 cursor-pointer mr-2 mt-2">
        <button class="bg-gray-800 hover:bg-gray-700 text-gray-300 rounded cursor-pointer p-2" id={`copy-button-${id}`}>
            <CopyIcon />
        </button>
    </div>
    <pre>
      {processedLines.map(({ number, content }) => (
        <div class="min-h-4 flex">
          <span class="line-number text-gray-500 select-none mx-2 text-left w-4">{number}</span>
          <span class=" whitespace-pre-wrap break-words">{content}</span>
        </div>
      ))}
    </pre>
</div>

<script define:vars={{ code: code, id: id }}>
    const button = document.getElementById(`copy-button-${id}`);
    button.addEventListener('click', () => {
        navigator.clipboard.writeText(code)
            .then(() => {
                const originalBg = button.className;
                button.className = originalBg.replace('bg-gray-800 hover:bg-gray-700', 'bg-green-500');
                button.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>';
                
                setTimeout(() => {
                    button.className = originalBg;
                    button.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>`;
                }, 2000);
            })
            .catch(err => {
                console.error('Failed to copy code with error: ', err);
            });
    });
</script>