---
import ArrowLeftUp from "./ArrowLeftUp.astro";
import Logo from "./Logo.astro";
---

<nav class="flex gap-8 text-xl justify-between items-center py-2 fixed top-0 z-50 shadow-sm dark:shadow-lg w-full bg-neutral-200 dark:bg-slate-950 text-gray-950 dark:text-gray-50 px-12">
    <div class="flex items-center gap-2">
        <a href="/" class="flex items-center ">
        <Logo />
        </a>
    </div>
    <ul class="flex gap-8">
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="https://github.com/TheophilusNenhanga/StellaC" class="flex gap-2 items-center justify-center">Source <ArrowLeftUp /></a></li>
    </ul>
</nav>