---
---

<nav class="flex gap-8 font-serif text-xl justify-between items-center border-b py-2">
    <div class="flex items-center gap-2">
        <a href="/" class="flex items-center">
        <span class="font-whisper text-6xl">S</span>
        <span class="text-2xl">tella</span>
        </a>
    </div>
    <ul class="flex gap-8">
        <li><a href="/getting-started">Getting Started</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="https://github.com/TheophilusNenhanga/StellaC">Source</a></li>
    </ul>
</nav>