---
import ArrowRight from "./ArrowRight.astro";
---

<div class="h-screen stella-shimmer brightness-90 rounded-2xl flex flex-col justify-center items-center">
    <h1 class="text-6xl text-center">Simple.<br/>Stylish.<br/>Safe.</h1>
    <a href="/getting-started" class="text-4xl flex gap-2 items-center">Get Started <ArrowRight /> </a>
</div>
