---

---

<div class="flex items-center justify-center h-screen">
  <span class="font-whisper text-9xl">S</span>
  <span class="text-5xl font-serif">tella</span>
</div>

<div class="flex items-center justify-center h-screen">
  <p
    class="font-whisper text-9xl h-42 w-42 bg-thistle text-center py-4 rounded-full text-white"
  >
    S
  </p>
</div>
