@import "tailwindcss";

@theme {
    --color-stella-start: #D500FF;
    --color-stella-middle: #F4009B;
    --color-stella-end: #BF00FF;
}

@layer components {
    .stella-shimmer {
       @apply bg-gradient-to-tl from-[theme(--color-stella-start)] via-[theme(--color-stella-middle)] to-[theme(--color-stella-end)];
    }
}