@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Whisper&display=swap');

@import "tailwindcss";

@theme {
    --font-whisper: 'Whisper', cursive;
    --font-playfair: 'Playfair Display', serif;
    --color-stella-start: #D500FF;
    --color-stella-middle: #F4009B;
    --color-stella-end: #BF00FF;
}

@layer components {
    .stella-shimmer {
       @apply bg-gradient-to-tl from-[theme(--color-stella-start)] via-[theme(--color-stella-middle)] to-[theme(--color-stella-end)];
    }
}